{% extends "base.html" %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us.</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to your favourite Ecommerce Site</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br /><br />
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu tellus sed enim gravida porta.
                    Praesent sagittis mauris quis neque dapibus suscipit. In eu eleifend risus. Nulla sed eros ac turpis
                    sagittis euismod eget a sem. Donec sodales accumsan ullamcorper. Curabitur eget arcu ut mi hendrerit
                    eleifend. Vivamus in justo blandit libero varius lacinia. Integer ultricies est sed enim feugiat
                    ultricies. Morbi hendrerit consequat lorem in tristique. Nulla in mollis libero, nec mollis libero.
                    Phasellus eu lectus pellentesque, ultricies arcu eu, consectetur dolor.
                    <br /><br />

                    Pellentesque mollis facilisis est vestibulum malesuada. Proin libero eros, porta sit amet velit non,
                    placerat faucibus nulla. Maecenas non erat ac justo aliquam posuere. In hac habitasse platea
                    dictumst. Phasellus mollis lorem felis, in pulvinar lorem consequat vitae. Mauris sem elit, faucibus
                    rhoncus porttitor nec, efficitur et lorem. Mauris mi nulla, maximus a maximus quis, aliquet nec
                    ipsum. Cras venenatis pretium condimentum. Fusce hendrerit id nulla sed consequat. Nunc et tellus
                    enim. In mollis eleifend nisl ut efficitur. Sed ornare magna quis ultricies pellentesque.
                    Pellentesque euismod, elit ut tincidunt accumsan, est tortor semper libero, sollicitudin
                    pellentesque leo ex eu lectus. Sed sit amet augue mi.
                    <br /><br />

                    Pellentesque placerat arcu eget ipsum placerat, ut interdum eros facilisis. Donec a massa a lectus
                    congue viverra. Suspendisse tellus urna, aliquam at sodales eget, dapibus ut nisi. Cras nec leo
                    turpis. Nam sit amet orci sed erat tempor ultricies non eget mi. Pellentesque ullamcorper, mauris
                    vitae ultrices laoreet, nibh nisi mollis dui, et sagittis massa quam id dolor. Maecenas mollis erat
                    sed nisl accumsan fermentum facilisis a libero. Donec nec laoreet ipsum, vitae mattis ipsum.
                    Maecenas tempor auctor varius. Morbi eget dapibus arcu. Nullam iaculis mi id ullamcorper lobortis.
                    Sed dictum pretium augue, nec facilisis mi hendrerit sodales.
                    <br /><br />

                </p>
            </div>
        </center>

    </div>

</div>

{% endblock %}